$color-black: #000;
$color-text: #747474;
$color-black-second: #bbb;
$color-black-third: #f6f6f6;
$color-white: #fff;
$bg-overlay: rgba(0, 0, 0, 0.4);
$xs-width: 576px;
$sm-width: 768px;
$md-width: 992px;
$lg-width: 1200px;
$header-height: 70px;
$header-height-shrink: 50px;
