@use "./../abtracts/" as *;
.slider {
    position: relative;
    z-index: 1;
    height: 50vw;
    overflow: hidden;
    &__container {
        height: 100%;
        &__slide {
            height: 100%;
            display: flex;
        }
    }
    &__control__left,
    &__control__right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 35px;
        border: 2px solid $color-black-second;
        color: $color-black-second;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.4s;
        opacity: 0;
        @include mobile() {
            width: 20px;
            height: 25px;
            border: 1px solid #bbb;
            font-size: 1.4rem;
        }
    }
    &__control__left {
        left: 4px;
    }
    &__control__left.active {
        opacity: 1;
    }
    &__control__right {
        right: 4px;
    }
    &__control__right.active {
        opacity: 1;
    }
    &__control__left:hover,
    &__control__right:hover {
        color: $color-white;
        background-color: $color-black-second;
    }
    &__control__bottom {
        opacity: 0;
        position: absolute;
        bottom: 25px;
        left: 0;
        right: 0;
        @include flex(center, center);
        i:not(:first-child) {
            margin-left: 10px;
        }
        i {
            font-size: 2rem;
            color: $color-black-second;
            transition: all 0.4s;
            cursor: pointer;
            @include mobile() {
                font-size: 1.8rem;
            }
        }
        i.active,
        i:hover {
            color: $color-black;
        }
        @include mobile() {
            bottom: 5px;
        }
    }
    &__control__bottom.active {
        opacity: 1;
    }
}
.slide__left,
.slide__right {
    width: 100%;
    flex-basis: 75%;
    overflow: hidden;
    @include flex(center, flex-start) {
        flex-direction: column;
    }
}
.slide__right {
    flex-basis: 25%;
}
.slide__left {
    padding-left: 30px;
    @include mobile() {
        padding-left: 10px;
    }
    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        resize: none;
        width: inherit;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.6s, opacity 0.4s;
        transition-delay: 0s;
        color: $color-black;
        margin-top: 15px;
        font-weight: 900;
        font-size: 5.6rem;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px;
        @include mobile() {
            font-size: 3.8rem;
        }
    }
    &__size {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.6s, opacity 0.4s;
        transition-delay: 0.2s;
        margin-top: 15px;
        @include mobile() {
            margin-top: 0px;
        }
        color: black;
        @include flex(flex-start, center);
        p {
            font-size: 2.4rem;
            margin-right: 25px;
            @include mobile() {
                font-size: 1.8rem;
                margin-right: 10px;
            }
        }
        div {
            @include flex(flex-start, center);
            span:not(:first-child) {
                margin-left: 5px;
            }
            span {
                transition: all 0.4s;
                cursor: pointer;
                font-weight: bold;
                width: 40px;
                height: 40px;
                @include mobile() {
                    width: 20px;
                    height: 20px;
                }
                @include flex(center, center);
                border: 1px solid transparent;
                font-size: 1.8rem;
            }
            span.active,
            span:hover {
                background-color: $color-black-second;
                border-color: $color-black-second;
                color: $color-white;
            }
        }
    }
    &__color {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.6s, opacity 0.4s;
        transition-delay: 0.4s;
        margin-top: 15px;
        @include mobile() {
            margin-top: 2px;
            margin-bottom: 2px;
        }
        color: black;
        @include flex(flex-start, center);
        p {
            font-size: 2.4rem;

            margin-right: 25px;
            @include mobile() {
                font-size: 1.8rem;
                margin-right: 10px;
            }
        }
        div {
            @include flex(flex-start, center);
            span:not(:first-child) {
                margin-left: 5px;
            }
            span {
                transition: all 0.4s;
                cursor: pointer;
                font-weight: bold;
                width: 34px;
                height: 34px;
                border-radius: 50%;
                border: 4px solid transparent;
                @include flex(center, center);
                @include mobile() {
                    width: 20px;
                    height: 20px;
                    border-width: 2px;
                }
            }
            span.active,
            span:hover {
                border-color: $color-black-second;
                width: 28px;
                height: 28px;
            }
        }
    }
    &__price {
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.6s, opacity 0.4s;
        transition-delay: 0.6s;
        margin-top: 15px;
        @include mobile() {
            margin-top: 0px;
        }
        color: black;
        @include flex(flex-start, center);
        font-size: 2.4rem;
        @include mobile() {
            font-size: 1.8rem;
        }
        p {
            margin-right: 10px;
        }
    }
    &__btn {
        transform: translateX(-200%);
        opacity: 0;
        transition: transform 0.6s, opacity 0.4s, border-radius 0.4s,
            background-color 0.4s, color 0.4s;
        transition-delay: 0.8s, 0.8s, 1.4s, 0s, 0s;
        margin-top: 30px;

        color: white;
        display: inline-block;
        font-size: 2.4rem;
        padding: 8px 24px;
        border-radius: 0;
        @include mobile() {
            margin-top: 0px;
            font-size: 1.8rem;
            padding: 4px 12px;
        }
    }
    &__btn:hover {
        cursor: pointer;
        background-color: $color-black-second !important;
        color: $color-black !important;
    }
}

.slide__right {
    &__img {
        transform: translateX(100%);
        opacity: 0;
        transition-delay: 0.2s;
        transition: opacity 0.4s, transform 0.8s;
        width: 100%;
        @include flex(flex-end, center);
        overflow: hidden;
        img {
            animation-name: slideImg;
            animation-iteration-count: infinite;
            animation-duration: 2000ms;
            margin-top: 50px;
            height: 100%;
            object-fit: contain;
        }
    }
}
.slider__container__slide.active {
    .slide__left {
        background-image: linear-gradient(to left, white, #00000036);
        &__title,
        &__price,
        &__color,
        &__size,
        &__btn {
            transform: translateX(0);
            opacity: 1;
        }
        &__btn {
            border-radius: 15px;
        }
    }
    .slide__right {
        background-image: linear-gradient(to right, white, #00000036);
        &__img {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
@keyframes slideImg {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
